.logo {
    height: 40px;
    vertical-align: middle;
  }
  
  .header {
    display: flex;
    align-items: center;
    background-color: #A9744F;
    color: #FFF2D8;
  }
  
  .title-group {
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
  }
  