
<mat-card>
    <mat-card-title>Nova Forma de Pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="formaPagamento.fpgDescricao" name="fpgDescricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ativo" [(ngModel)]="formaPagamento.fpgAtivo" name="fpgAtivo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Permite Parcelamento" [(ngModel)]="formaPagamento.fpgPermiteParcelamento" name="fpgPermiteParcelamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Número Máximo de Parcelas" [(ngModel)]="formaPagamento.fpgNumeroMaximoParcela" name="fpgNumeroMaximoParcela">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Taxa Adicional" [(ngModel)]="formaPagamento.fpgTaxaAdicional" name="fpgTaxaAdicional">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createFormaPagamento()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>