<mat-card>
  <mat-card-title>Alterar Fornecedor</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="updateFornecedor()">Atualizar</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
