<mat-form-field>
  <input matInput placeholder="Nome" [(ngModel)]="cliente.cliNome" name="cliNome" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="CPF" [(ngModel)]="cliente.cliCpf" name="cliCpf" required maxlength="11" minlength="11">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Email" [(ngModel)]="cliente.conEmail" name="conEmail" required email>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Telefone" [(ngModel)]="cliente.conTelefoneComercial" name="conTelefoneComercial" required maxlength="14">
</mat-form-field>

<!-- Endereço -->
<mat-form-field>
  <input matInput placeholder="Rua" [(ngModel)]="cliente.endRua" name="endRua" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Número" [(ngModel)]="cliente.endNumero" name="endNumero" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Cidade" [(ngModel)]="cliente.endCidade" name="endCidade" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="CEP" [(ngModel)]="cliente.endCep" name="endCep" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Estado" [(ngModel)]="cliente.endEstado" name="endEstado" required>
</mat-form-field>
